<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find agv_description)/urdf/agv_base.xacro" />
    <xacro:include filename="$(find agv_description)/urdf/sensors/lidar.xacro" />
    <xacro:include filename="$(find agv_description)/urdf/sensors/imu.xacro" />

    <agv_base/>

    <!-- Lidar -->
    <xacro:property name="lidar_offset_x" value="0.40" />
    <xacro:property name="lidar_offset_y" value="0" />
    <xacro:property name="lidar_offset_z" value="0.185" />

    <joint name="laser_joint" type="fixed">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="laser_link"/>
    </joint>

    <xacro:lidar prefix="laser"/>

    <!-- imu -->
    <xacro:property name="imu_offset_x" value="-0.28" />
    <xacro:property name="imu_offset_y" value="-0.07" />
    <xacro:property name="imu_offset_z" value="0.01" />

    <joint name="imu_joint" type="fixed">
        <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <xacro::imu prefix="imu"/>

</robot>
