<launch>
  <!-- <arg name="model" default="burger" /> -->

  <!-- agv -->
  <include file="$(find agv_bringup)/launch/agv_run.launch" />

  <!-- Map server -->
  <arg name="map_file" default="$(find agv_navigation)/maps/lab_1130.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="open_rviz" default="true"/>

<!-- AMCL -->
  <include file="$(find agv_navigation)/launch/amcl.launch.xml"/>

  <!-- move_base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="robot_pose_ekf/odom" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find agv_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <!-- <rosparam file="$(find agv_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" /> -->
    <rosparam file="$(find agv_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find agv_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find agv_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find agv_navigation)/param/dwa_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <!--remap from="odom" to="robot_pose_ekf/odom_combined" /-->
  </node>
  
  <!-- rviz -->
  <group if ="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find agv_navigation)/rviz/agv_nav.rviz"/>
  </group>
</launch>
